/* CLASS.CSS*/

/* Modifying class styles */

.top-page, .start-page {
	background-size : cover;
	background-repeat : no-repeat;
	text-align : center;
	background-attachment: fixed;
	background-image : url("../images/background/cover.png");
	height: 100vh;
}

.about-page, .contact-page {
	background-color: #eff5f5;
	height: 100vh;
	padding: 0 10%;
}

.arrow {
	width: 3.5%;
	height: auto;
	margin: 3% 48.25% 0 48.25%;
	clear: both;
}

/* top-page */
#logotitle {
	width: 18%;
    height: auto;
	padding-top :8%;
}



/* about-page */
.about-page {
	padding: 0 10%;
}

#easy, #interactive {
	width: 50%;
	float: left;
}

#easy-logo, #interactive-logo {
	width: 35%;
    height: auto;
    margin : 0 32.5%;
}


/* start-page */

.left-content, .right-content {
	width: 50%;
	float: left;
}

#callnum{
	padding-top: 8vmin;
	width: 90%;
	height: auto;
	margin-right: 10%;
}

#text-search {
	width: 30vmin;
}

#form1 {
	padding-top: 25vmin;
	padding-bottom: 4vmin;
}

.output {
	background-color: #d6f5f5;
	width: 80%;
	margin : 20px 10%;
}


/* contact-page */
.contact-page {
	padding: 0 8%;
}

#email, #message, #call, #fb {
	width: 25%;
	float: left;
}

#email-icon, #message-icon, #call-icon, #fb-icon {
	width: 30%;
    height: auto;
    margin : 0 32.5%;
}

/* footer */
footer {
	clear: both;
	background : white;
	letter-spacing : 1px;
	color : black;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size : 3vmin;
}

