/* CLASS.CSS*/

/* Modifying class styles */

.top-page, .start-page {
	background-size : cover;
	background-repeat : no-repeat;
	text-align : center;
	background-attachment: fixed;
	background-image : url("../images/background/cover.png");
	height: 100vh;
}

/*top-page*/
.container {
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
}

.container img{
  max-height: 75%;
  max-width: 75%;
  height: auto;
  width: auto;
  display: block;
  position: absolute;
  top: 50px;
  bottom: 25px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: auto;
}

/*Return to Top*/
#myBtn {
    display: none;
    width: auto; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: rgba(0, 0, 0, 0.80); 
    color: white;
    cursor: pointer; 
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px; 
}

#myBtn:hover {
    background-color: rgba(8, 95, 145, 0.8);
}

/* top-page */
#logotitle {
	width: 18%;
    height: auto;
	padding-top :8%;
}

/* about-page */
.about-page{
  display: inline-block;
  padding: 50px;
}
#easy, #interactive {
	width: 50%;
	float: left;
}

#easy-logo, #interactive-logo {
	width: 35%;
  height: auto;
  margin : 0 32.5%;
}


/* start-page */

.left-content, .right-content {
	width: 50%;
	float: left;
}

#callnum{
	padding-top: 8vmin;
	width: 90%;
	height: auto;
	margin-right: 10%;
}

#text-search {
	width: 30vmin;
}

#form1 {
	padding-top: 25vmin;
	padding-bottom: 4vmin;
}

.output {
	background-color: #d6f5f5;
	width: 80%;
	margin : 20px 10%;
}


/* footer */
footer{
  position: fixed;
  bottom: 0;
}

footer img{
	width: 10%;
	align-content: center;
}

@media (max-height:800px){
  footer { position: static; }
  header { padding-top:40px; }
}

.footerCenter{
  background-color: #0f0f0f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 16px sans-serif;
  padding: 15px;
}

.footerCenter .footerImg{
  width: 150px;
  margin: 0;
}

.footerCenter .footerName{
  color:  #8f9296;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 600px) {

  .footerCenter{
    padding: 20px;
  }

  .footerCenter .footerImg{
    width: 150px;
  }

  .footerCenter .footerName{
    font-size: 14px;
  }
}


