/* CLASS.CSS*/

/* Modifying class styles */

.top-page, .start-page {
	background-size : cover;
	background-repeat : no-repeat;
	text-align : center;
	background-attachment: fixed;
	background-image : url("../images/background/cover.png");
	height: 100vh;
}

.about-page, .contact-page {
	background-color: #eff5f5;
	height: 100vh;
	padding: 0 10%;
}

.arrow {
	width: 2%;
	height: auto;
	margin: 5% 48.25% 0 48.25%;
	clear: both;
}

/*ARROW BOUNCE ANIMATION FOR MOZILLA */
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*ARROW BOUNCE ANIMATION FOR APPLE/SAFARI */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* top-page */
#logotitle {
	width: 18%;
    height: auto;
	padding-top :8%;
}



/* about-page */
.about-page {
	padding: 0 10%;
}

#easy, #interactive {
	width: 50%;
	float: left;
}

#easy-logo, #interactive-logo {
	width: 35%;
    height: auto;
    margin : 0 32.5%;
}


/* start-page */

.left-content, .right-content {
	width: 50%;
	float: left;
}

#callnum{
	padding-top: 8vmin;
	width: 90%;
	height: auto;
	margin-right: 10%;
}

#text-search {
	width: 30vmin;
}

#form1 {
	padding-top: 25vmin;
	padding-bottom: 4vmin;
}

.output {
	background-color: #d6f5f5;
	width: 80%;
	margin : 20px 10%;
}


/* contact-page */
.contact-page {
	padding: 0 8%;
}

#email, #message, #call, #fb {
	width: 25%;
	float: left;
}

#email-icon, #message-icon, #call-icon, #fb-icon {
	width: 30%;
    height: auto;
    margin : 0 32.5%;
}

/* footer */
footer {
	clear: both;
	background : #000000;
	color : #ffffff;
	padding: 3px;
	text-align: center;
	font-size : 2.5vmin;
}

footer img{
	width: 10%;
	align-content: center;
}

