/* FONT.CSS*/

/* Adjusting font sizes, position, family, etc.*/

/* General*/
* {
margin : 0;
padding : 0;
list-style : none;
text-decoration : none;
font-family : 'Helvetica Neue', sans-serif;
}

/* top-page */
.top-page h1 {
	color : #d6f5f5;
	font-size : 13vmin;
	font-weight : bold;
	letter-spacing :2vmin;
	line-height : 1;
	padding : 2vmin 0;
	}

.top-page h2 {
	background-color : #132020;
	color : #bfd9d9;
	font-size : 4vmin;
	opacity : 0.8;
	letter-spacing : 1vmin;
	padding: 3vmin 0;
}


/* about-page */
.about-page h1 {
	color: #1d3030;
	font-size: 6vmin;
	padding-bottom: 10px;
	padding-top: 10vmin;
}


#intro p {
	background-color: #bfd9d9;
	font-size: 2.7vmin;
	padding: 4vmin;
	box-shadow: 1.8vmin 1.8vmin .9vmin #888888;
	margin-bottom: 3vmin;
}

#easy p, #interactive p {
	background-color: #e0ebeb;
	color: #002233;
	box-shadow: 1.8vmin 1.8vmin .9vmin #888888;
	padding: 2.5vmin;
	font-size: 2.5vmin;
    margin : 0 20vmin;
    text-align: center;
}

#easy h2,#interactive h2{
	font-size: 3vmin;
	text-align: center;
	padding-bottom: 3vmin;	
}

/* start-page */

.start-page h2 {
	color : #d6f5f5;
	font-size : 4.8vmin;
	font-weight : bold;
	text-align: center;
	padding-top: 10vmin;
}

.start-page span {
	color : #d6f5f5;
	font-size : 4.5vmin;
}


#output {
	color : #132020;
	font-size : 4vmin;
	font-weight : bold;
}

#button-home {
	background-color : #132020;
	color : #bfd9d9;
    border: none;
    padding: 7px 20px;
    text-decoration: none;
    font-size: 4vmin;
    margin-top: 30px;
    cursor: pointer;
    display: block;
    margin: 20px 45%;

}

.left-content select, .left-content input{
	color : black;
	font-size : 4vmin;
	font-weight : bold;	
	margin-left: 20px;
}

/* contact-page */

