/* Giving a background-color to the nav. */

nav { 
  margin:0;
  padding: 0;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 123;
}

nav:after {
  content:"";
  display:table;
  clear:both;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0px;
  display:block;
  float: left;
  background-color: #000000;
}

nav a {
  display:block;
  padding:14px 20px;  
  color:#FFF;
  font-size:17px;
  text-decoration:none;
}

nav a:hover { 
  background-color: #254f3e; 
}

#logo {
  display: block;
  padding: 6px 30px 4px 30px;
  float: left;
}

#logo img{
  width: 150px;
}

.menu a {
  color: #ffffff;
  line-height: 32px;
}

.toggle,
[id^=drop] {
  display: none;
}


/*----------For Responsiveness------------*/

@media all and (max-width : 780px) {

  nav {
    margin: 0;
  }

  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  /* Hide the navigation menu by default */
  .toggle + a,
  .menu {
    display: none;
    text-align: center;
  }

  /* Styling the toggle lable */
  .toggle {
    display: block;
    background-color: #162d24;
    padding:14px 20px;  
    color:#FFF;
    font-size:15px;
    text-decoration:none;
    border:none;
    text-align: center;
  }

  .toggle:hover {
    background-color: #254f3e;
    cursor: pointer;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
  }
}

@media all and (max-width : 200px) {

  nav ul li {
    display:block;
    width: 94%;
  }

}